#content-blogs
  position: relative
  width: $content-width

.blogs-title
  position: relative 
  width: 15px
  height: 50px 
  +hide-text
  background: url( "/images/blog.png" ) no-repeat

.blogs
  position: relative 
  left: 15px
  top: -50px
  width: $content-width 

.blogs-row
  padding: 0 0 15px 0

.blog-wrap
  +float-left
  width: 25%
  height: 300px
  overflow: hidden

.blog
  background: #fff 
  margin: 0 15px 0 0 

.blog-image
  display: block
  width: 100%

.blog-title
  color: #b71313
  font-weight: bold
  padding: 10px 
  height: 20px 

.blog-content
  padding: 10px 
  height: 100px
  background: #fff

.blog-shadow
  height: 10px
  background: url( "/images/post-personal-shadow.png" ) no-repeat 

.blog-nav-wrap
  padding: 0 15px 0 0

.blog-nav
  background: #fff
  height: 30px
  line-height: 30px
  padding: 0 10px

.blog-nav-shadow
  height: 10px
  background: url( "/images/shadow-slider-fw.png" ) no-repeat 

.blog-nav-pager
  +float-left

.blog-nav-hint
  +float-right