#content-tweets
  +float-right
  width: ( $content-width / 2 ) - 10
  height: 200px
  padding: 0 0 0 10px

.tweets-title
  +float-left
  +hide-text
  background: url( "/images/tweets.png" ) no-repeat
  width: 15px
  height: 64px 

.tweets-wrap
  +float-left
  width: ( $content-width / 2 ) - 25
  height: 100%
  .tweets
    background: #ededea
    height: 100%
    padding: 15px
    .tweet-wrap
      padding: 0 0 10px 0
      .tweet
        padding: 13px 5px
        background: #fff 
  .tweets-shadow
    width: 100% 
    height: 10px
    background: url( "/images/personal-twitter-shadow.png" ) no-repeat 
