@import "content-highlight"
@import "content-personal"
@import "content-tweets"
@import "content-blogs"
@import "content-navigator"

#content
  background: url( "/images/bg-body.png" )
  width: 100%

.content-inner-wrap
  width: $content-width
  margin: 0 auto


