#content-tweets
  +float-right
  width: $content-width/2
  height: 240px
  padding: 5px
  .title
    +float-left
    width: 15px
    height: 100%
    text-indent: 2em
    overflow: hidden
    background: url("/images/tweets.png") no-repeat
  .wrapper
    +float-right
    width: $content-width/2 - 25px
    height: 100%
    .tweets
      background: #ededea
      height: 100%
      padding: 15px
      .tweet-wrapper
        padding: 0 0 10px 0
        .tweet
          padding: 13px 5px
          background: white
    .shadow
      width: 100% 
      height: 10px
      background: url("/images/personal-twitter-shadow.png") no-repeat 
