#content-tweets
  +float-right
  width: 49%
  padding: 0 0 0 1%
  position: relative

.tweets-title
  position: absolute
  +hide-text
  background: url( "/images/tweets.png" ) no-repeat
  width: 15px
  height: 64px

.tweets-wrap
  padding: 0 0 10px 15px
  background: url( "/images/personal-twitter-shadow.png" ) no-repeat center bottom
  .tweets
    background: #ededea
    height: 210px
    padding: 10px
    .tweet-wrap
      padding: 0 0 10px 0
      .tweet
        padding: 13px 5px
        background: #fff
