@mixin personal-block
  padding: 10px 10px 10px 25px

@mixin desc-sns
  +hide-text
  +inline-block
  width: 16px
  height: 16px

#content-personal
  +float-left
  position: relative
  width: 49%
  padding: 0 1% 0 0

.personal-title
  +hide-text
  position: absolute
  width: 15px
  height: 64px
  background: url( "/images/personal.png" ) no-repeat

.personal-main-wrap
  +clearfix
  padding: 0 0 10px 15px
  background: url( "/images/personal-content-shadow.png" ) no-repeat left 15px bottom

.personal-main
  +clearfix
  background: #fff
  height: 230px

.personal-info-image
  +float-left
  width: 230px

.personal-info
  +clearfix
  padding: 10px 0

.personal-block-quote
  +personal-block
  background: url( "/images/entry-quote.png" ) no-repeat 5px center

.personal-block-link
  +personal-block
  background: url( "/images/entry-link.png" ) no-repeat 5px center

.personal-block-sns
  +personal-block
  background: url( "/images/entry-users.png" ) no-repeat 5px center

.personal-desc
  padding: 5px
  border-left: 2px solid #d2d6db

.desc-fb
  +desc-sns
  background: url( "/images/facebook.png" ) no-repeat

.desc-twitter
  +desc-sns
  background: url( "/images/twitter.png" ) no-repeat

.desc-web
  +desc-sns
  background: url( "/images/dribbble.png" ) no-repeat

.desc-flickr
  +desc-sns
  background: url( "/images/flickr.png" ) no-repeat

.desc-deviantart
  +desc-sns
  background: url( "/images/deviantart.png" ) no-repeat

.desc-behance
  +desc-sns
  background: url( "/images/behance.png" ) no-repeat

.desc-vimeo
  +desc-sns
  background: url( "/images/vimeo.png" ) no-repeat

.desc-xing
  +desc-sns
  background: url( "/images/xing.png" ) no-repeat
