#content-personal
  +float-left
  width: ( $content-width / 2 ) - 10
  height: 240px
  padding: 0 0 10px 0

.personal-title
  +float-left
  +hide-text
  width: 15px
  height: 64px 
  background: url( "/images/personal.png" ) no-repeat

.personal-info-wrap
  +float-left
  height: 230px
  width: ( $content-width / 2 ) - 25

.personal-info-shadow
  width: 100% 
  height: 10px
  background: url( "/images/personal-content-shadow.png" ) no-repeat 

.personal-info-image
  +inline-block

.personal-info
  +inline-block
  background: #fff 
  height: 100%
  width: 220px

.personal-quote
  height: 66px
  padding: 5px 10px
  .img
    +inline-block
    background: url( "/images/entry-quote.png" ) no-repeat
    width: 16px
    height: 12px
  .seperator
    +inline-block
    width: 2px
    height: 100% 
    background: #d2d6db
  .desc
    +inline-block
    width: 170px
