@import "content-highlight"
@import "content-personal"
@import "content-tweets"
@import "content-blogs"

#content
  background: url( "/images/bg-body.png" )
  width: 100%
  border-bottom: solid 10px #f6f6f5

.content-inner-wrap
  width: $content-width
  margin: 0 auto
  padding: 0 0 20px 0

.content-row
  +clearfix
  padding: 20px 0


