#footer
  height: 50px
  line-height: 50px
  font-size: 12px
  .wrapper
    width: $content-width
    height: 100%
    margin: 0 auto
  .list-item
    +inline-block
  .sns
    +float-left
    height: 100%
    padding: 0 30px
    .rss
      width: 16px
      height: 16px
      background: url("/images/rss.png") no-repeat
    .twitter
      width: 16px
      height: 16px
      background: url("/images/twitter.png") no-repeat
    .facebook
      width: 16px
      height: 16px
      background: url("/images/facebook.png") no-repeat
  .navigator
    +float-left
    .list-item
      padding: 0 10px
  .copywrite
    +float-right
