@import "compass"
@import "compass/reset"

$content-width: 960px
$header-height: 46px
$font-family: "Monaco5", "Helvetica", "Palatino", "Gill Sans"

#wrap
  min-width: $content-width

*
  color: #585b5a

a
  text-decoration: none
  &:hover
    text-decoration: underline

@import "header"
@import "footer"
@import "content"
