<div id="wrap">
  <div id="header">
    <div class="header-logo-wrap">
      <h1 class="header-logo">
        <a class="header-logo-link" href="#" title="Benhulse">Benhulse</a>
      </h1>
    </div>
    <ol class="header-nav">
      <li class="nav-item">
        <a href="" class="nav-link selected">Design</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Photography</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Music</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">About Ben Hulse</a>
      </li>
    </ol>
  </div>
  <div class="content-wrap">
    <div id="content">
      <% for i in 0..11 %>
      <div class="item-wrap">
        <div class="item">
          <img class="item-image" src=<%= lorem.image('210x134') %> alt="image">
          <div class="item-title"><%= lorem.words 3 %></div>
          <div class="item-desc"><%= lorem.words 3 %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>