<div id="content-blogs">
  <h2 class="blogs-title">Blogs</h2>
  <div class="blogs">
    <div class="blog-articles">
      <% for i in 0..11 %>
      <div class="blog-wrap">
        <div class="blog">
          <img class="blog-image" src="<%= lorem.image('210x130') %>" alt="">
          <p class="blog-title"><%= lorem.words 5 %></p>
          <p class="blog-content"><%= lorem.words 10 %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="blog-nav-wrap">
      <div class="blog-nav">
        <div class="blog-nav-pager">
          <a class="blog-nav-pager-selected" href="#" title="toPage1">1</a>
          <a href="#" title="toPage2">2</a>
          <a href="#" title="toNextPage">>></a>
        </div>
        <div class="blog-nav-hint">Page 1 of 2</div>
      </div>
    </div>
  </div>
</div>
