<div id="content-personal">
  <div class="personal-title">Personal</div>
  <div class="personal-info-wrap">
    <img class="personal-info-image" src="/images/alina.jpeg" alt="">
    <div class="personal-info">
      <div class="personal-quote">
        <div class="img"></div>
        <div class="seperator"></div>
        <div class="desc"><%= lorem.words 10 %></div>
      </div>
      <div class="personal-quote">
        <div class="img"></div>
        <div class="seperator"></div>
        <div class="desc"><%= lorem.words 10 %></div>
      </div>
      <div class="personal-quote">
        <div class="img"></div>
        <div class="seperator"></div>
        <div class="desc"><%= lorem.words 10 %></div>
      </div>
    </div>
    <div class="personal-info-shadow"></div>
  </div>
</div>
