<div id="content-tweets">
  <div class="tweets-title">Tweets</div>
  <div class="tweets-wrap">
    <div class="tweets">
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 20 %></div>
      </div>
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 20 %></div>
      </div>
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 10 %></div>
      </div>
    </div>
    <div class="tweets-shadow"></div>
  </div>
</div>
