<div id="content-tweets">
  <div class="title">Tweets</div>
  <div class="wrapper">
    <div class="tweets">
      <div class="tweet-wrapper">
        <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
      </div>
      <div class="tweet-wrapper">
        <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
      </div>
      <div class="tweet-wrapper">
        <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
      </div>
      <div class="tweet-wrapper">
        <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
</div>
