<div class="content-highlight-wrap">
  <div id="content-highlight">
    <h2 class="highlight-hidden">Highlight</h2>
    <h3 class="highlight-title"><%= lorem.words 8 %></h2>
    <h3 class="highlight-slogan"><%= lorem.words 13 %></h3>
    <img class="highlight-image" src=<%= lorem.image('940x500') %> alt="Highlight image">
    <div class="highlight-pager">
      <a href="#" title="Highlight image to prev" class="highlight-pager-prev"></a><a href="#" title="Highlight image to next" class="highlight-pager-next"></a>
    </div>
    <div class="highlight-slider">
      <div class="highlight-pointer">
      </div>
    </div>
  </div>
</div>