<div id="content-tweets">
  <h2 class="tweets-title">Tweets</h2>
  <div class="tweets-wrap"  >
    <div class="tweets">
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 20 %></div>
      </div>
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 10 %></div>
      </div>
      <div class="tweet-wrap">
        <div class="tweet"><%= lorem.words 10 %></div>
      </div>
    </div>
  </div>
</div>
