<div id="content-highlight">
  <h2 class="highlight-title">Slider Options for every slider / template</h2>
  <h3 class="highlight-slogan">Slider Options, 2 effects, time and hover pause</h3>
  <img class="highlight-image" src="/images/51.jpeg" alt="">
  <div class="highlight-pager">
    <div class="highlight-pager-prev"></div>
    <div class="highlight-pager-next"></div>
  </div>
  <div class="highlight-slider">
    <div class="highlight-pointer">
    </div>    
  </div>
</div>
