<div id="footer">
  <div class="wrapper">
    <div class="sns">
      <ol class="list">
        <li class="list-item hide-text rss"><a href="#">RSS</a></li>
        <li class="list-item hide-text twitter"><a href="#">Twitter</a></li>
        <li class="list-item hide-text facebook"><a href="#">Facebook</a></li>
      </ol>
    </div>
    <div class="navigator">
      <ol class="list">
        <li class="list-item">Copywright 2011</li>
        |
        <li class="list-item">Home</li>
        |
        <li class="list-item">Blog</li>
        |
        <li class="list-item">404</li>
        |
        <li class="list-item">Sitemap</li>
        |
        <li class="list-item">Contact</li>
      </ol>
    </div>
    <p class="copywrite">
      Wordpress Theme by XXXXXXX
    </p>
  </div>
</div>
