<div id="footer">
  <div class="wrapper">
    <div class="footer-sns">
      <ol class="list">
        <li class="list-item">feeds</li>
        <li class="list-item">feeds</li>
        <li class="list-item">feeds</li>
      </ol>
    </div>
    <div class="footer-navigator">
      <ol class="list">
        <li class="list-item">Home</li>
        <li class="list-item">Home</li>
        <li class="list-item">Home</li>
        <li class="list-item">Home</li>
        <li class="list-item">Home</li>
        <li class="list-item">Home</li>
      </ol>
    </div>
    <p class="footer-copywrite">
      Wordpress Theme by XXXXXXX
    </p>
  </div>
</div>
