<div class="footer-wrap">
  <div id="footer">
    <div class="footer-sns">
      <a class="footer-rss" href="#" title="RSS">RSS</a>
      <a class="footer-twitter" href="#" title="Twitter">Twiiter</a>
      <a class="footer-facebook" href="#" title="Facebook">Facebook</a>
    </div>
    <div class="footer-nav">
      <span class="nav-item">Copyright 2011</span>
      |
      <a class="nav-item" href="#" title="toHome">Home</a>
      |
      <a class="nav-item" href="#" title="toBlog">Blog</a>
      |
      <a class="nav-item" href="#" title="to404">404</a>
      |
      <a class="nav-item" href="#" title="toSitemap">Sitemap</a>
      |
      <a class="nav-item" href="#" title="toContact">Contact</a>
    </div>
    <p class="footer-copyright">Wordpress Theme by XXXXXXX</p>
  </div>
</div>
