<div id="header">
  <div class="header-texture">
    <div class="header-texture-logo"></div>
    <div class="header-texture-nav"></div>
  </div>
  <div class="header-content-wrap">
    <div class="header-content">
      <div class="header-content-logo-wrap">
        <h1>
          <a class="header-content-logo" href="#">Actme</a>
        </h1>
      </div>
      <ol class="header-content-nav">
        <li class="nav-item">
          <a class="nav-link selected" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Styles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ol>
      <div class="header-content-search-wrap">
        <div class="header-content-search">
          <input class="search-field" type="text" placeholder="To search type and hit enter">
        </div>
      </div>
    </div>
  </div>
</div>
