<div id="header">
  <div class="header-texture">
    <div class="header-texture-logo"></div>
    <div class="header-texture-nav"></div>
  </div>
  <div class="header-content-wrap">
    <div class="header-content">
      <h1 class="header-content-logo-wrap">
        <a class="header-content-logo" title="Actme" href="#">Actme</a>
      </h1>
      <ol class="header-content-nav">
        <li class="nav-item">
          <a class="nav-link selected" title="Home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Profolio" href="#">Profolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Gallery" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Blog" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Styles" href="#">Styles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Conatact" href="#">Contact</a>
        </li>
      </ol>
      <div class="header-content-search-wrap">
        <form class="header-content-search" action="http://yahoo.com" name="search_field">
          <input class="search-field" type="text" placeholder="To search type and hit enter">
        </form>
      </div>
    </div>
  </div>
</div>
