<div id="header">
  <div class="background">
    <div class="logo-background"></div>
    <div class="navigator-background"></div>
  </div>
  <div class="foreground">
    <div class="inner-wrapper">
      <div class="logo">
        <h1>
          <a href="#">
            <img src="/images/logo.png" alt="Actme" title="Click to return to homepage">
          </a>
        </h1>
      </div>
      <ol class="navigator">
        <li class="list-item"><a class="font selected" href="#">Home</a></li>
        <li class="list-item"><a class="font" href="#">Profolio</a></li>
        <li class="list-item"><a class="font" href="#">Gallery</a></li>
        <li class="list-item"><a class="font" href="#">Blog</a></li>
        <li class="list-item"><a class="font" href="#">Styles</a></li>
        <li class="list-item"><a class="font" href="#">Contact</a></li>
      </ol>
      <div class="search">
        <div class="search-wrapper"><input class="search-box" type="text" placeholder="To search type and hit enter"></div>
      </div>
    </div>
  </div>
</div>
