<div id="content">
  <div class="inner-wrapper">
    <div id="content-highlight">
      <div class="title-wrapper">
        <h2 class="title">Slider Options for every slider / template</h2>
      </div>
      <div class="slogan-wrapper">
        <h3 class="slogan">Slider Options, 2 effects, time and hover pause</h3>
      </div>
      <img class="image" src="/images/51.jpeg" alt="">
      <div class="slider"></div>
      <div class="slider-option"></div>
    </div>
    <br><br><br><br><br>
    <div id="content-personal">
      <div class="title">Personal</div>
      <div class="wrapper">
        <img class="images" src="/images/alina.jpeg" alt="">
        <ol class="info">
          <li class="quote">
            <div class="img"></div>
            <div class="seperator"></div>
            <p class="desc">My name is Jonathan Sense. Below is a collection of some of my best pics</p>
          </li>
          <li class="quote">
            <div class="img"></div>
            <div class="seperator"></div>
            <p class="desc">My name is Jonathan Sense. Below is a collection of some of my best pics</p>
          </li>
          <li class="quote">
            <div class="img"></div>
            <div class="seperator"></div>
            <p class="desc">My name is Jonathan Sense. Below is a collection of some of my best pics</p>
          </li>
        </ol>
        <div class="clear"></div>
        <div class="shadow"></div>
      </div>
    </div>
    <div id="content-tweets">
      <div class="title">Tweets</div>
      <div class="wrapper">
        <div class="tweets">
          <div class="tweet-wrapper">
            <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
          </div>
          <div class="tweet-wrapper">
            <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
          </div>
          <div class="tweet-wrapper">
            <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
          </div>
          <div class="tweet-wrapper">
            <div class="tweet">Check out this item "Sense - Semi" ..... blablabla</div>
          </div>
        </div>
        <div class="shadow"></div>
      </div>
    </div>
    <div class="clear"></div>
    <br><br>
    <div id="content-blogs">
      <div class="title">Blog</div>
      <ol class="blogs">
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
      </ol>
      <div class="clear"></div>
    </div>

    <div id="content-navigator">
      <div class="wrapper">
        <div class="pager">1&nbsp;2&nbsp;>></div>
        <div class="hint">Page 1 of 2</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>