<div id="content">
  <div class="content-inner-wrap">
    <%= partial "content-highlight" %>
    <%= partial "content-personal" %>
    <%= partial "content-tweets" %>
    <div class="clear"></div>
    <%= partial "content-blogs" %>
  </div>
  <div class="content-ribbon"></div>
</div>