<div id="content">
  <div class="content-inner-wrap">
    <%= partial "content-highlight" %>
    <%= partial "content-personal" %>
    <%= partial "content-tweets" %>
    <div class="clear"></div>
    <div id="content-blogs">
      <div class="title">Blog</div>
      <ol class="blogs">
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
        <li class="blog">
          <div class="wrapper">
            <img class="blog-image" src="/images/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="">
            <p class="blog-title">This is a blog title</p>
            <p class="blog-content">Blog content heeeeeeeer</p>
          </div>
          <div class="shadow"></div>
        </li>
      </ol>
      <div class="clear"></div>
    </div>

    <div id="content-navigator">
      <div class="wrapper">
        <div class="pager">1&nbsp;2&nbsp;>></div>
        <div class="hint">Page 1 of 2</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>