<div id="content">
  <div class="content-inner-wrap">
    <%= partial "content-highlight" %>
    <div class="content-row">
      <%= partial "content-personal" %>
      <%= partial "content-tweets" %>
    </div>
    <%= partial "content-blogs" %>
  </div>
</div>